.idea
log.txt
my_pid.txt
lock.txt
/runtime
/composer.lock
/root/timerLog/*
/sqlite
/public/upload
/public/images
/vendor/workerman/_usr_src_myapp_fasterphpweb_start.php.pid
/vendor/workerman/workerman.log
/build
/images
/copy
/root/master_id.txt